<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>New user signed up on Colabo</h1>
  <p>Hello,</p>
  <p>A new user with email <%= @user_email %> has signed up on Colabo.</p>
  <p>Please check if they are activated, otherwise activate them</p>
</body>
</html>
